[submodule "lidar-occlusion"]
	path = lidar-occlusion
	url = git@github.com:xurxonanin/Lidar-Occlusion.git
[submodule "turtlebot3"]
	path = turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble
[submodule "turtlebot3_multi_robot"]
	url = https://github.com/xurxonanin/turtlebot3_multi_robot.git
	path = turtlebot3_multi_robot
